{% extends 'main/layout.html' %}

{% block title%}Про нас{% endblock %}

{% block content%}
    <div class="features">
        <h1>О Библиотеке</h1>
        <p>Платформа информационной системы "Библиотека" была создана в 2023 году по инициативе кафедры информатики колледжа "ВКИ НГУ" для обеспечения российским студентам электронного доступа к ведущим российским и иностранным научным изданиям.</p>
        <p>Под руководством Жирнова Анатолия Алексеевича была создана первая версия веб-приложения</p>
    </div>
{% endblock %}

