{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <aside>
        <a href="{% url 'home' %}"><img src="{% static 'main/img/logo4.png'%}" alt="Лого"></a>
        <span class="logo">Библиотека</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i>Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fa-solid fa-paper-plane"></i>О Библиотеке</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa-solid fa-book"></i>Книги</li></a>
            <a href="{% url 'my_books' %}"><li><i class="fa-solid fa-bookmark"></i>Мои книги</li></a>
            <a href="{% url 'contacts' %}"><li><i class="fa-solid fa-phone"></i>Контакты</li></a>
            {% if request.user.is_staff %}
                <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить книгу</li></a>
                <a href="{% url 'create_news'%}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить новость</button></li></a>
            {% endif %}
        </ul>
    </aside>
    <div class="account">
    {%  if request.user.is_authenticated %}
    <p>Пользователь: {{ request.user }} | Роль: {% if request.user.is_staff %} Библиотекарь {% else %}Читатель {% endif %}<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Выйти</button></a></p>
    {% else %}
    <a href="{% url 'auth' %}"><button type="button" class="btn btn-primary">Войти</button></a> <a href="{% url 'register' %}"><button type="button" class="btn btn-success">Зарегистрироваться</button></a>
    {% endif %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>